h1 {
    color: ghostwhite;
}

h10 {
    color: ghostwhite;
}

#lock {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

#topRow {
    position: fixed;
}
