<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'weeklist/style.css' %}" />
</head>
<body>
<div class="card-content valign center">

<div class="container" id="lock">
    <div class="row" id="topRow">
        <div class="col s2"><div class="card-panel indigo darken-2"><h1>  Week  </h1></div></div>
        <div class="col s10"><div class="card-panel indigo darken-2"><h1> Washer for {{ year }}</h1></div></div>
    </div>
</div>
<div class="container">
     <div class="row">
        <div class="col s2" style="visibility: hidden"><div class="card-panel teal accent-4"><h1>  Week  </h1></div></div>
        <div class="col s9" style="visibility: hidden"><div class="card-panel teal accent-4"><h1> Washer </h1></div></div>
    </div>
</div>
    <div class="container">
        {% for week in year.week_set.all %}
            <div class="row">
                <div class="col s2"><div class="card-panel teal accent-4"><h1>{{ week }}</h1></div></div>
                <div class="col s10"><div class="card-panel teal accent-4"><h1>{{ week.washer }} </h1></div></div>
            </div>
        {% endfor %}
    </div>
</body>
</html>